################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backup
/packages
/VSIXProject1/bin/Debug
/VSIXProject1/obj/Release
